<%= error_messages_for @patient %>

<a href="/">Back</a>

<%# Check @patient.id to know whether we're on the add or edit page %>
<% if @patient.id == nil %>
  <h1>Add new patient</h1>
<% else %>
  <%# For the edit page, show the patient's ID %>
  <h1>Edit patient #<%= @patient.id %></h1>
<% end %>

<p>
  <%= label_tag "systolic" %>
  <br>
  <%= text_field_tag "systolic", @patient.systolic %>
</p>

<p>
  <%= label_tag "diastolic" %>
  <br>
  <%= text_field_tag "diastolic", @patient.diastolic %>
</p>

<p>
  <%# Check @patient.id to know whether we're on the Add or Edit page %>
  <% if @patient.id == nil %>
    <%# The add page has only one button: Add %>
    <%= submit_tag "Add" %>
  <% else %>
    <%# The edit page has two buttons: Update and Delete %>
    <%= submit_tag "Update" %>
    <%= submit_tag "Delete" %>
  <% end %>
</p>
