<%= form_tag create_person_path do %>

  <%= error_messages_for @person %>

  <%= person_field(:first_name,
    text_field_tag(:first_name,
      @person.first_name, class: "form-control")) %>
  <%= person_field(:last_name,
    text_field_tag(:last_name,
      @person.last_name, class: "form-control")) %>

  <div class='form-group
      <%= @person.errors[:birth_date] != [] && "has-error" %>'>
    <%= label_tag :birth_date,
      "Birth date #{@person.errors[:birth_date].join(", ")}",
      class: "control-label" %>
    <div class="form-control">
      <%= select_date @person.birth_date, prefix: "birth_date", prompt: true %>
    </div>
  </div>
  
  <div class='form-group'>
    <%= submit_tag "Submit", class: "btn btn-primary btn-lg btn-block" %>
  </div>

<% end %>
